@charset "utf-8";
/* CSS Document */


/* calendar */
.calendar_wrap{display:block;background-color:#fff;}

/* calendar_head */
.calendar_head{position:relative;}
.calendar_head .calendar_tit{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;justify-content:flex-start;align-items:flex-start;}
.calendar_head .calendar_tit .cmb_calendar_contorl{position:relative;margin:0 0 0 16px;}
.calendar_head .calendar_tit .cmb_calendar_contorl:first-child{margin:0;}
.calendar_head .calendar_tit .cmb_calendar_contorl .cmb_calendar{position:relative;display:inline-block;font-family:'Roboto', sans-serif;font-weight:700;font-size:18px;color:#222;line-height:normal;letter-spacing:-1px;}
.calendar_head .calendar_tit .cmb_calendar_contorl .cmb_calendar:after{position:absolute;top:50%;content:'';width:9px;height:6px;background-image:url("../img/ic/ic_arrow_caleadar.png");background-repeat:no-repeat;background-position:0 0;}
.calendar_head .calendar_tit .cmb_calendar_contorl .cmb_calendar.year{padding:0 18px 0 0;}
.calendar_head .calendar_tit .cmb_calendar_contorl .cmb_calendar.year:after{right:0;transform:translate(0 , -50%);}
.calendar_head .calendar_tit .cmb_calendar_contorl .cmb_calendar.month{padding:0 18px 0 0;}
.calendar_head .calendar_tit .cmb_calendar_contorl .cmb_calendar.month:after{position:absolute;top:50%;right:0;content: '';transform:translate(0 , -50%);}
.calendar_head .calendar_tit .cmb_calendar_contorl .cmb_calendar.on:after{background-image:url("../img/ic/ic_arrow_caleadar_up.png");}
.calendar_head .calendar_tit .cmb_ly{display:none;position:absolute;top:26px;left:0;right:0;width:62px;max-height:218px;border-radius:2px;border:1px solid #ddd;background-color:#fff;overflow-x:auto;z-index:22;}
.calendar_head .calendar_tit .cmb_ly ul{overflow:hidden;}
.calendar_head .calendar_tit .cmb_ly li{border-top:1px solid #f5f5f5;}
.calendar_head .calendar_tit .cmb_ly li a{display:block;height:35px;padding:0 11px;font-weight:400;font-size:13px;color:#222;line-height:37px;}
.calendar_head .calendar_tit .cmb_ly li:hover a{text-decoration:underline;background-color:#f5f5f5;}
.calendar_head .calendar_tit .cmb_ly li.active a{color:#6f70de;}

.calendar_head .right{position:absolute;top:1px;right:0;}
.calendar_head .right a.today{display:inline-block;font-weight:400;font-size:12px;color:#222;line-height:22px;}

/* scroll */
.cmb_ly::-webkit-scrollbar{width:8px;height:8px;}
/* Track */
.cmb_ly::-webkit-scrollbar-track{background-color:#e6e6e6;border-radius:8px;}
/* Handle */
.cmb_ly::-webkit-scrollbar-thumb{background:#aaa;border-radius:8px;}
/* Handle on hover */
.cmb_ly::-webkit-scrollbar-thumb:hover{background:#666;border-radius:8px;}

.calendar_body{margin:7px 0 0;border-top:1px solid #ddd;}
.calendar_body .calendar_tbl{min-width:100%;margin:0;}
	.calendar_tbl thead th{height:28px;background-color:#f5f5f5;}
	.calendar_tbl thead th span{font-weight:400;color:#222222;font-size:12px;}
	.calendar_tbl thead th.calendar_sat span{color:#1a92c7;}
	.calendar_tbl tbody {padding:3px 0 0;}
	.calendar_tbl tbody td{width:26px;padding:6px 0 0;height:26px;text-align:center;}
	.calendar_tbl tbody td.calendar_sat a{color:#1a92c7;}
	.calendar_tbl tbody td a{display:block;font-weight:400;font-size:12px;color:#222;line-height:26px;}
	.calendar_tbl tbody td.calendar_select a{height:26px;margin:0;color:#222;border:1px solid #d7d7f5;}
	.calendar_tbl tbody td.calendar_select.single a{position:relative;width:26px;height:26px;margin:0 auto;line-height:26px;border-radius:50%;}
	.calendar_tbl tbody td.calendar_select.single a.calendar_holiday{color:#fff;border-radius:50%;border:1px solid #6f70de;background-color:#6f70de;}
	.calendar_tbl tbody td.calendar_select.multi_from a{border:0;background-color:#f0f0fc;}
	.calendar_tbl tbody td.calendar_select .calendar_holiday{position:relative;color:#fff;z-index:1;background-color:#013A6B;background-image:-webkit-linear-gradient(180deg, #f0f0fc 50%, #fff 50%);}
	.calendar_tbl tbody td.calendar_select.multi_to .calendar_holiday{position:relative;color:#fff;z-index:1;background-color:#013A6B;background-image:-webkit-linear-gradient(360deg, #f0f0fc 50%, #fff 50%);}
	.calendar_tbl tbody td.calendar_select .calendar_holiday:after{position:absolute;top:0;left:50%;transform:translate(-50% , 0);content:'';z-index:-1;color:#fff;width:26px;height:26px;margin:0 auto;text-align:center;border-radius:50%;background-color:#6f70de;}

	.calendar_tbl tbody td.calendar_select.multi_ing a{border-radius:0;border:0;background-color:#f0f0fc;}
	.calendar_tbl tbody td.calendar_select.multi_to a{border:0;border-right:0;background-color:#f0f0fc;}
	.calendar_tbl .calendar_holiday a{color:#ed4343;}
	.calendar_tbl .calendar_holiday span{color:#ed4343;}

/* KOSIGN */

.w284{width:284px;}
.w636{width:636px;}
.calendar_tbl tbody td.calendar_disable a{color:#bbb;pointer-events:none;}
.calendar_layer_wrap{position:relative;display:block;margin:0 auto;border:1px solid #666;}
.calendar_layer_wrap .calendar_layer_inner{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;justify-content:flex-start;align-items:flex-start;gap:0 40px;padding:16px 20px 20px;}
.calendar_layer_wrap .calendar_layer_inner .calandar_left{padding:0 0 0 30px;}
.calendar_layer_wrap .calendar_layer_inner .calandar_right{padding:0 30px 0 0;}
.calendar_layer_wrap .bt_calander{position:absolute;top:50%;transform:translateY(-50%);width:30px;height:30px;font-size:0;background-repeat:no-repeat;background-position:center 50%;}
.calendar_layer_wrap .bt_prev{left:10px;background-image:url("../img/bt/bt_prve.png");}
.calendar_layer_wrap .bt_prev.disable{pointer-events:none;opacity:0.5}
.calendar_layer_wrap .bt_next{right:10px;background-image:url("../img/bt/bt_next.png");}
.calendar_layer_wrap .bt_next.disable{pointer-events:none;opacity:0.5}



